.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about h2{
    color: white;
    text-decoration: underline;
    font-size: 2rem;
}
.about p{
    color: white;
    font-size: 1.6rem;
    line-height: 2rem;
    width: 60%;
}
@media screen and (max-width: 1200px) {
    .about h2{
        font-size: 22px;
    }
    .about p{
        font-size: 18px;
        line-height: 22px;
    }
}
@media screen and (max-width: 600px) {
    .about h2{
        font-size: 16px;
    }
    .about p{
        font-size: 12px;
        line-height: 16px;
    }
}