.beschreibung{
    display: flex;
    align-items: center;
    justify-content: center;
}
.beschreibung p {
    margin: 0 8vw 0 0;
    width: 40vw;
    color: white;
    font-family: Calibri, serif;
    font-size: 2rem;
}
.beschreibung-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
@media screen and (max-width: 1400px){
    .beschreibung p {
        font-size: 20px;
    }
}
@media screen and (max-width: 1200px){
    .beschreibung p {
        font-size: 18px;
    }
}
@media screen and (max-width: 600px){
    .beschreibung p {
        font-size: 12px;
    }
}