.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact h2{
    color: white;
    text-decoration: underline;
    font-size: 2rem;
}
.contact p{
    color: white;
    font-size: 1.6rem;
    line-height: 2rem;
    width: 40vw;
}