.abo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.abo-content{
    width: 64%;
}
.abo-content h2{
    text-align: left;
    color: white;
    font-size: 3rem;
    text-decoration: underline;
    font-weight: bold;
}
.abo-content p{
    color: white;
    font-size: 1.8rem;
    width: 44vw;
}
.abo-content-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vorteile{
    margin-top: 60px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 100%;
    padding: 0;
}
.vorteile li{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.vorteile li h3{
    color: white;
    font-size: 2.2rem;
    text-decoration: underline;
    text-align: center;
}
.vorteile li p{
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
    width: 60%;
}
@media screen and (max-width: 1400px){
    .vorteile{
        margin-top: 56px;
    }
    .abo-content h2{
        font-size: 24px;
    }
    .abo-content p{
        font-size: 20px;
    }
    .vorteile li h3{
        font-size: 22px;
    }
    .vorteile li p{
        font-size: 20px;
    }
}
@media screen and (max-width: 1200px){
    .vorteile{
        grid-template-columns: 1fr 1fr;
        row-gap: 60px;
        margin-top: 56px;
    }
    .abo-content h2{
        font-size: 22px;
    }
    .abo-content p{
        font-size: 18px;
    }
    .vorteile li h3{
        font-size: 20px;
    }
    .vorteile li p{
        font-size: 18px;
    }
}
@media screen and (max-width: 600px){
    .abo-content{
        width: 72%;
    }
    .vorteile{
        grid-template-columns: 1fr 1fr;
        row-gap: 60px;
        margin-top: 32px;
    }
    .abo-content h2{
        font-size: 16px;
    }
    .abo-content p{
        font-size: 12px;
    }
    .vorteile li h3{
        font-size: 14px;
    }
    .vorteile li p{
        font-size: 12px;
    }
}