.abo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.abo-content h2{
    text-align: left;
    color: white;
    font-size: 3rem;
    text-decoration: underline;
    font-weight: bold;
}
.abo-content p{
    color: white;
    font-size: 1.8rem;
    width: 44vw;
}
.mitgliedWerden{
    width: 12vw;
    padding: 16px;
    border-radius: 50px;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}
.abo-content-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.abo-content ul{
    margin-top: 60px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 72vw;
    padding: 0;
}
.abo-content li{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.abo-content ul h3{
    color: white;
    font-size: 2.2rem;
    text-decoration: underline;
    text-align: center;
}
.abo-content ul p{
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
    width: 16vw;
}