.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}
.brand, .motto{
    padding: 0;
    text-align: center;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Calibri, serif;
}
.brand{
    background-color: #fff;
    color: #8FAADC;
    height: 10vw;
    font-size: 6vw;
    font-weight: bold;
}
.motto{
    background-color: #8FAADC;
    color: #fff;
    font-size: 3vw;
    height: 6vw;
}
.readMore{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #8FAADC;
    border: none;
    padding: 18px 22px;
    font-size: 2em;
    font-family: Calibri, serif;
    cursor: pointer;
    transition: width 0.15s, height 0.15s, font-weight 0.15s;
    text-decoration: none;
}
.readMore:hover{
    font-weight: bold;
    padding: 22px 26px;
}
@media screen and (max-width: 1200px) {
    .readMore{
        padding: 14px 22px;
        font-size: 18px;
    }
    .readMore:hover{
        font-weight: bold;
        padding: 18px 26px;
    }
}
@media screen and (max-width: 600px) {
    .readMore{
        padding: 8px 16px;
        font-size: 12px;
    }
    .readMore:hover{
        font-weight: bold;
        padding: 12px 20px;
    }
}

